version: '3'

######### Services ###################################

services:
  # Server container
  nginx:
    build:
      context: docker/dev/nginx
      dockerfile: Dockerfile
    volumes:
      - ./:/var/www
      - ./docker/dev/nginx/logs:/var/log/nginx
    ports:
      - 80:80
    depends_on:
      - client
      - api-php
      - admin-php
      - webpay-php


  # api-php FastCGI Process Manager container
  api-php:
    build:
      context: docker/dev/php/php80
      dockerfile: Dockerfile
    volumes:
      - ./src/api:/var/www/src/api
    depends_on:
      - api-mysql
    working_dir: /var/www/src/api

  # admin-php FastCGI Process Manager container
  admin-php:
    build:
      context: docker/dev/php/php80
      dockerfile: Dockerfile
    volumes:
      - ./src/admin:/var/www/src/admin
    depends_on:
      - admin-mysql
    working_dir: /var/www/src/admin

  # webpay-php FastCGI Process Manager container
  webpay-php:
    build:
      context: docker/dev/php/php72
      dockerfile: Dockerfile
    volumes:
      - ./src/webpay:/var/www/src/webpay
    depends_on:
      - webpay-mysql
    working_dir: /var/www/src/webpay

  # api-mysql database container
  api-mysql:
    build:
      context: docker/dev/mysql
      dockerfile: Dockerfile
    volumes:
      - api-mysql-volume:/var/lib/mysql
    ports:
      - 3307:3306
    environment:
      - MYSQL_DATABASE='Asia/Tokyo'
      - MYSQL_DATABASE=api_mysql
      - MYSQL_USER=app
      - MYSQL_PASSWORD=app
      - MYSQL_ROOT_PASSWORD=app

  # admin-mysql database container
  admin-mysql:
    build:
      context: docker/dev/mysql
      dockerfile: Dockerfile
    volumes:
      - admin-mysql-volume:/var/lib/mysql
    ports:
      - 3308:3306
    environment:
      - MYSQL_DATABASE='Asia/Tokyo'
      - MYSQL_DATABASE=admin_mysql
      - MYSQL_USER=app
      - MYSQL_PASSWORD=app
      - MYSQL_ROOT_PASSWORD=app

  # webpay-mysql database container
  webpay-mysql:
    build:
      context: docker/dev/mysql
      dockerfile: Dockerfile
    volumes:
      - webpay-mysql-volume:/var/lib/mysql
    ports:
      - 3309:3306
    environment:
      - MYSQL_DATABASE='Asia/Tokyo'
      - MYSQL_DATABASE=webpay_mysql
      - MYSQL_USER=app
      - MYSQL_PASSWORD=app
      - MYSQL_ROOT_PASSWORD=app

  # Client container
  client:
    build:
      context: docker/dev/client
      dockerfile: Dockerfile
    volumes:
      - ./src/client:/var/www/src/client

######### Volumes ###################################

volumes:
  api-mysql-volume:
  admin-mysql-volume:
  webpay-mysql-volume:
