version: '3'

######### Services ###################################

services:

  nginx:
    build:
      context: docker/nginx
      dockerfile: Dockerfile
    volumes:
      - ./:/var/www
      - ./docker/nginx/logs:/var/log/nginx
    ports:
      - 80:80
    depends_on:
      - client
      - api-php

  api-php:
    build:
      context: docker/php
      dockerfile: Dockerfile
    volumes:
      - ./src/api:/var/www/src/api
    depends_on:
      - api-mysql
    working_dir: /var/www/src/api

  api-mysql:
    build:
      context: docker/mysql
      dockerfile: Dockerfile
    volumes:
      - api-mysql-volume:/var/lib/mysql
    ports:
      - 13306:3306
    environment:
      - MYSQL_DATABASE='Asia/Tokyo'
      - MYSQL_DATABASE=api_mysql
      - MYSQL_USER=app
      - MYSQL_PASSWORD=app
      - MYSQL_ROOT_PASSWORD=app

  api-redis:
    build:
      context: docker/redis
      dockerfile: Dockerfile
    volumes:
      - api-redis-volume:/data
    ports:
      - 16379:6379
    command: redis-server --appendonly yes

  client:
    build:
      context: docker/client
      dockerfile: Dockerfile
    volumes:
      - ./src/client:/var/www/src/client
      - node_modules-volume:/var/www/src/client/node_modules

######### Volumes ###################################

volumes:
  node_modules-volume:
  api-mysql-volume:
  api-redis-volume:
